- provide(:title, 'About')
%h1 About the App
%p 
  Let's face it. Tracking your character's growth can be hard. Pathfinder is 
  an awesome system, improving on 3.5 to plug holes and make the game more 
  balanced. However, leveling up your character can get confusing, especially 
  for new players.
%p 
  The idea behind this application is that you should be able to create 
  characters for your pathfinder game without having to question your 
  hitpoints, recalculate how many feats you should have, or find out too late 
  that you could've cast an extra fireball in that boss fight.
%p 
  At the moment, this application is still in active development. Assume 
  nothing works, because it probably doesn't.
%p 
  Familiar with Ruby on Rails and want to contribue? 
  %a{href: "http://github.com/awochna/pcs"}Check out the project page on GitHub