- provide(:title, 'Help')
%h1 Help
%p Need some help? It doesn't work yet, so I can't imagine with what . . .
%p Try asking Paizo

%p 
  If this page is out of date and you find a bug or have a suggestion, please submit it to this project's 
  %a{href: "http://github.com/awochna/pcs"} github page