- provide(:title, '')
.center.hero-unit
  %h1 Pathfinder Character Sheet App
  %p Make it easer to make and keep track of characters . . .
  = link_to "Sign up", signup_path, class: "btn btn-large btn-primary"
