- provide(:title, "Sign in")
%h1 Sign in
.row
  .span6.offset3
    = form_for(:session, url: sessions_path) do |f|
      
      = f.label :name, "Username"
      = f.text_field :name

      = f.label :password
      = f.password_field :password

      = f.submit "Sign in", class: "btn btn-large btn-primary"

    %p 
      New user? 
      = link_to "Sign up now!", signup_path
