- provide(:title, @user.name)
.row
  .col-xs-4
    %section
      %h1= @user.name

  .col-xs-8
    - if @user.characters.empty?
      %h2 
        You don't have any characters yet!
    - else
      - @user.characters.each do |character|
        .row
          .col-xs-2
            = character.name
          .col-xs-8
            %ul
              -# character.classes.each do |key, value|
                %li
                  -#"#{key.to_s.humanize.titleize}: #{value}"
                  = "#{character.classes.humanize.titleize}"
          .col-xs-2
            = link_to 'Edit', edit_user_character_path(@user, character.id)
    = link_to "Create a new character", new_user_character_path(@user), 
      class: "btn btn-large btn-primary"

