.container
  .row
    .col-sm-4
      .row.labels
        .col-xs-2.text-muted
          Ability
        .col-xs-2.text-muted
          Base Score
        .col-xs-2.text-muted
          Modifier
        .col-xs-2.text-muted
          Temp Score
        .col-xs-2.text-muted
          Temp Modifier
      .row.str
        .col-xs-2.inverse
          STR
        .col-xs-2.str
          = @character.strength
        .col-xs-2.str-mod
          = mod_calc(@character.strength)
        .col-xs-2
          0
        .col-xs-2
          0
      .row.dex
        .col-xs-2.inverse
          DEX
        .col-xs-2.dex
          = @character.dexterity
        .col-xs-2.dex-mod
          = mod_calc(@character.dexterity)
        .col-xs-2
          0
        .col-xs-2
          0
      .row.con
        .col-xs-2.inverse
          CON
        .col-xs-2.con
          = @character.constitution
        .col-xs-2.con-mod
          = mod_calc(@character.constitution)
        .col-xs-2
          0
        .col-xs-2
          0
      .row.int
        .col-xs-2.inverse
          INT
        .col-xs-2.int
          = @character.intelligence
        .col-xs-2.int-mod
          = mod_calc(@character.intelligence)
        .col-xs-2
          0
        .col-xs-2
          0
      .row.wis
        .col-xs-2.inverse
          WIS
        .col-xs-2.wis
          = @character.wisdom
        .col-xs-2.wis-mod
          = mod_calc(@character.wisdom)
        .col-xs-2
          0
        .col-xs-2
          0
      .row.cha
        .col-xs-2.inverse
          CHA
        .col-xs-2.cha
          = @character.charisma
        .col-xs-2.cha-mod
          = mod_calc(@character.charisma)
        .col-xs-2
          0
        .col-xs-2
          0
    .col-sm-8
