.container
  .row
    .col-sm-4
      = @character.name
      .descriptor
        Character Name
    .col-sm-4
      -# Fix this, should always give user name
      = @user ? @user.name : ""
      .descriptor
        User Name
    .col-sm-4
      = @character.experience
      .descriptor
        Current Experience
  .row
    .col-sm-3
      = @character.character_class
      .descriptor
        Class
    .col-sm-3
      = @character.race
      .descriptor
        Race
    .col-sm-3
      = @character.alignment
      .descriptor
        Alignment
    .col-sm-3
      = @character.deity
      .descriptor
        Deity
  .row
    .col-sm-1
      = @character.level
      .descriptor
        Level
    .col-sm-2
      = @character.size
      .descriptor
        Size
    .col-sm-1
      = @character.age
      .descriptor
        Age
    .col-sm-2
      = @character.gender
      .descriptor
        Gender
    .col-sm-1
      = @character.height
      .descriptor
        Height
    .col-sm-1
      = @character.weight
      .descriptor
        Weight
    .col-sm-2
      = @character.eyes
      .descriptor
        Eyes
    .col-sm-2
      = @character.hair
      .descriptor
        Hair
