%h1 Create a new character
= form_for [:user, @character]  do |f|

  = f.label :name
  = f.text_field :name

  = f.label :nickname
  = f.text_field :nickname

  = f.label :race
  = f.text_field :race

  = f.label :character_class,  "Class"
  = f.text_field :character_class
  
  = f.label :deity
  = f.text_field :deity

  = f.label :age
  = f.number_field :age

  = f.label :gender
  = f.text_field :gender
  
  = f.label :height
  = f.text_field :height

  = f.label :weight
  = f.text_field :weight

  = f.label :eyes
  = f.text_field :eyes

  = f.label :hair
  = f.text_field :hair

  = f.label :strength
  = f.number_field :strength, in: 7...18, value: 10

  = f.label :dexterity
  = f.number_field :dexterity, in: 7...18, value: 10

  = f.label :constitution
  = f.number_field :constitution, in: 7...18, value: 10

  = f.label :intelligence
  = f.number_field :intelligence, in: 7...18, value: 10

  = f.label :wisdom
  = f.number_field :wisdom, in: 7...18, value: 10

  = f.label :charisma
  = f.number_field :charisma, in: 7...18, value: 10

  = f.submit "Create character", class: "btn btn-large btn-primary"
