!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", 
                                            "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
    /[if lt IE 9]%script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %body
    = render 'layouts/header'
    .container
      - flash.each do |key, value|
        %div{:class => ["alert", "alert-#{key}"]}= value
      = yield
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
